html { 
    background: url(./runProfile.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-image: linear gradient (to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
    background-image: no-repeat;
  }
